
.slogan {
    color: red;
}

.screen {
    margin-top:5%;
    margin-left: 10%;
}

.tracking {
    outline: none;
}
.track-item-form {
    text-align: left;

    input[type=text] {
        text-indent: 5px;
    }
    input:focus, select {
        outline: none;
    }
}

.pagetitle {
    font-size: 36px;
    text-align: center;

}
.tracked-item {

    .title {
        
    }

    .carrier {
        
    }

    .trackingid {
        color: rgb(236, 33, 60);
        font-weight: bold;
    }
}