
.slogan {
    color: red;
}

.screen {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
}
.tracked {

}

.tracking {
    outline: none;
}
.track-item-form {
    text-align: left;
    input:focus, select {
        outline: none;
    }
}

.tracked-item {

    .title {
        
    }

    .carrier {
        
    }

    .trackingid {
        color: rgb(236, 33, 60);
        font-weight: bold;
    }
}