<form>
    <div class='form-group row'>
        <label for='carrier' class='col-2 col-form-label'>Carrier:</label>
        <select name='carrier'>
            <option value='usps'>USPS</option>
            <option value='ups'>UPS</option>
            <option value='fedex'>Fedex</option>
            <option value='dhl'>DHL</option>
        </select>
    </div>
    <div class='form-group row'>
        <label class='col-2 col-form-label' for='trackingid'>Tracking #:</label>
        <input type='text' name='trackingid'>
    </div>
    <input type='submit' value='Track'>
</form>